.card {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    background-color: rgb(213, 207, 253);
    border: 1px solid rgb(187, 177, 247);
    border-radius: 4px;
}

.card .image {
    width: 150px;
    height: 100px;
    margin: 15px;
    background-color: aliceblue;
}


